---
import { Image } from "@astrojs/image/components";
const { title, h1text } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-sans text-lg bg-[#EDECDF]">
    <nav
      class="flex justify-between items-center py-5 text-xl mt-5 border-black border-b-2 w-[100%]"
    >
      <header>
        <h2 class="text-bold pl-5 hover:font-extrabold">
          <a href="#">Afet Hayvan</a>
        </h2>
      </header>
      <ul class="[&>li]:inline-block [&>li]:px-10 [&>li]:py-35">
        <li class="hover:font-bold">
          <a href="#">İlanlar</a>
        </li>
        <li class="hover:font-bold">
          <button class="border border-black p-3 bg-[#9DD4AB] rounded-[6%]"
            ><a href="#">Giriş</a></button
          >
        </li>
      </ul>
    </nav>
    <main>
      <h1 class="text-center text-3xl mt-5">{h1text}</h1>
      <slot />
    </main>
    <footer class="border-black border-t-2 mb-5">
      <h2 class="text-center text-2xl font-bold my-3">Ekstra Kaynaklar</h2>
      <section id="foot-info" class="flex justify-around">
        <article>
          <h3 class="mb-5 font-bold text-2xl">Afet Yardım Haritaları</h3>
          <a href="https://afetharita.com/">
            <figure
              class="block border-black border w-[50%] hover:border-blue-400"
            >
              <Image
                src={import(
                  /* @vite-ignore */ "../images/static/map-afetharita.jpg"
                )}
                alt="Map from afetharita.com"
                class="mx-auto mb-3 mt-0"
              />
              <figcaption class="text-center">Afet Harita</figcaption>
            </figure>
          </a>
        </article>
        <article>
          <h3 class="mb-10 font-extrabold text-2xl">Linkler</h3>
          <ul class="my-auto [&>li]:my-3 [&>li]:w-40">
            <li><a href="" class="hover:font-semibold">Yararlı Linkler</a></li>
            <li><a href="" class="hover:font-semibold">Çerez Politikası</a></li>
            <li>
              <a href="" class="hover:font-semibold">Gizlilik Sözleşmesi</a>
            </li>
            <li><a href="" class="hover:font-semibold">Aydınlatma Metni</a></li>
          </ul>
        </article>
      </section>
    </footer>
  </body>
</html>
